@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

html{
	width: 99.87%;
}

*{
	font-family: 'Lato', sans-serif;
}

#top{
	height: 15%;
	background: -webkit-linear-gradient(#09C, #26C); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#09C, #26C); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#09C, #26C); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#09C, #26C);
}

#banner{
	color: #fff;
	font-size: 3.25em;
	margin-top: 5%;
	margin-left: 6%;
	font-family: 'Open Sans', sans-serif;
}

#right-menu{
	margin-top: 4.5%;
	background: -webkit-linear-gradient(#09C, #26C); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#09C, #26C); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#09C, #26C); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#09C, #26C);
}

ul a:hover{
	background-color: #09C !important;
	color: white;
}

.lazyOwl{
	width: 800px;
	height: 325px;
	border-radius: 10px;
}

.owl-carousel{
	margin-top: 2%;
	margin-left: 7%;
}